<div class="container">
  <div class="row">
    <div class="layout title-box">
      <h1><%= @song.title %></h1> 
      <h2>by <%= @song.author %></h2>
    </div>
  </div>
</div>

<div class="container">
  <% if @song.url != "" %>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="<%= @song.url %>"></iframe>
    </div>
  <% end %>
  <div class="row">
    <div class="layout title-box">
      <h1> Reviews </h1> 
    </div>
  </div>
</div>

  <% unless current_user %>
    <div class = "row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="alert alert-danger">
          You must be logged in to leave a review!
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

  <% else %> 

    <% unless @reviews.find_by(user_id: current_user.id) %>

      <% if @review && @review.errors %>
        <% @review.errors.full_messages.each do |message| %>
          <div class = "row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="alert alert-danger">
                <%= message %>
              </div>
            </div>
            <div class="col-md-3"></div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

        <form method="post" action="">
          <div class="form-group">
            <textarea class="form-control" type="text" id="title" rows="12" name="content"> </textarea>
          </div>

          <div class="submit-footer">
            <input id="ratingbutton" name="rating">
            <button class="btn btn-warning" type="submit">Submit Review</button>
          </div>

        </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    <% end %>
  <% end %>

  <% @reviews.each do |review| %>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <blockquote>
          <p><%= review.created_at %></p>
          <p><%= review.user.username%> rated <%= review.rating %> stars and said: <%= review.content %></p>
          <% if review.user == current_user %>
            <form action="/reviews/delete" method="post">
              <button type="submit" name="song_id" value="<%= review.song_id %>"> Delete </button>
            </form>
          <% end %>
        </blockquote>
      </div>
      <div class="col-md-3"></div>
    </div>
  <% end %>
</div>